*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1;
}

header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}

header a.logo img {
	display: block;
	margin: 0 20%;
	width: 50%;
	height: auto;
}

header ul {
	padding: 56px 0 0;
}

header ul li {
	display: inline;
	list-style: none;
	padding-top: 0.8rem;
}

header ul li a {
	color: #252525;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1rem;
	margin: 0 1rem;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

header {
	padding: 0 0 30px;
	text-align: center;
}

header h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 2.3rem;
	font-weight: normal;
	text-transform: uppercase;
}

.search{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    width: 18rem;
    height: 2rem;
    margin-right: 1.6rem;
    border-radius: 0.3rem;
    text-align: center;
}
.search button{
    border: 0.1rem solid #333;
    border-radius: 0.2rem;
    width: 8.6rem;
    height: 2rem;
}
.search button:hover{
    background-color: white;
}

/* display products */

h1{
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: rgb(255, 254, 254);
    text-shadow: 1px 1px 5px rgb(37, 37, 37);
    background-color: rgba(53, 52, 52, 0.5);
}
.main_container{
    margin: 3.4rem auto;
    width: 60%;
    padding: 1.3rem;
    min-height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    grid-gap: 1.1rem;
}

.main_container div{
    height: 200px;
    border-radius: 0.2rem;
    background: orange;
    background-size: contain;
    display: flex;
    align-items: flex-end
}

.grid_product{
    height: 200px;
    border-radius: 0.2rem;
    background: orange;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

/* porduct spec show */

.productSpec_box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_spec{
    position: relative;
    width: 60%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2.6rem;
}

.img_product{
    width: 70%;
    height: 60%;
    background-color: tomato;
    margin-bottom: 2.2rem;
    
}

.product_buy{
    margin-top: 2.4rem;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.product_buy input{
    width: 180px;
    height: 28px;
}

.product_buy button{
    width: 120px;
    font-size: 1.3rem;
}

.product_buy label{
    align-self: center;
    font-size: 1.1rem;
}
.product_spec h1{
    font-size: 1.6rem;
}

.product_spec #closer{
    position: absolute;
    transform: rotate(45deg);
    font-size: 2rem;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.product_spec #closer:hover{
    font-weight: 600;
}

.close{
    display: none;
}